<h4 class="text-center text-secondary">QR code</h4>

<div>
    <img id="my_image" alt="">
    <br>
    <button hidden id="butt" class="btn btn-outline-success btn-sm"><i class="fa fa-download"></i> download</button>
</div>