<h4 class="text-center text-secondary">Creating QR code</h4>
<div class="form-group">
    <form>
        <input autocomplete="off" id="qr" type="text" class="form-control" placeholder="Write your information">
    </form>
</div>