<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>QR creater</title>

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">

</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <%- body %>
            </div>  
            <div class="col-md-6">
                <div class="text-center">
                    <%- include('partials/qr') %>
                </div>
            </div>
        </div>
    </div>
    <footer class="mt-5">
        <div class="text-center bg-secondary p-3 text-white">
            <span>&copy; <span id="year" style="font-family: 'consolas';"></span></span>
        </div>
    </footer>

    <script src="/public/js/jquery-3.1.1.min.js"></script>
    <script src="/public/js/main.js"></script>

</body>
</html>